.mainContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.postContainer {
    flex: 3;
}

.usersListContainer {
    margin-top: 160px;
    margin-left: 20px;
    flex: 1;
    max-width: 200px;
}

.main {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

